@charset "UTF-8";

/* VERSÃO TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 90vw;
    }

    #login > #imagem {
        float: right;
        width: 30%;
        height: 100%;
        background-position: center, center;
    }

    #login > #formulario {
        float: left;
        width: 70%;
    }
    #formulario > h1 {
        font-size: 1.5em;
    }
    #formulario > p {
        font-size: 1em;
    }
    form > a.botao {
        margin-top: 10px;
    }
}

/* VERSÃO DESKTOP */
@media screen and (min-width: 992px) {
    #login {
        width: 1000px;
    }
    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-position: center, center;
    }    
    #login > #formulario {
        float: right;
        width: 50%;
    }
    #formulario > h1 {
        font-size: 2em;
    }
    #formulario > p {
        font-size: 1.2em;
    }
    form > a.botao {
        margin-top: 10px;
    }
}