@charset "UTF-8";

/*
    Paleta de cores:

    Terquesa: #312DA6
    Azul: #024873
    Verde: escuro #A0F294
    Verde claro: #52BF04
    Rosa: #A66F6F
*/

:root {
    --turquesa: #312DA6;
    --azul: #024873;
    --verde-escuro: #A0F294; 
    --verde-claro: #52BF04;
    --rosa: #A66F6F;
}